<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174676278857-85rmas3f1dg39jga86kkfcb5nrs2r162.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174676278857-85rmas3f1dg39jga86kkfcb5nrs2r162</string>
	<key>API_KEY</key>
	<string>AIzaSyAXQFr_lWQsmo3AiReDjDhYlQB5kbeaZYM</string>
	<key>GCM_SENDER_ID</key>
	<string>174676278857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learningdart.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>learningdart-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>learningdart-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174676278857:ios:f5e7137f1c9d7eb9ba4998</string>
</dict>
</plist>